h1 {
  font-family: "oswald", sans-serif;
  /* This is a comment for CSS -  THis will not be displayed in production. WHy Sans-serif ?? :-) */
  text-align: center;
  color: red;
}

p {
  font-family: "fira sans", sans-serif;
  text-align: center;
  color: gray;
}

a {
  color: rgb(168, 1, 78);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
#todays-challenge {
  color: rgb(170, 67, 83);
  font-size: 52px;
}
